<!-- HEADER START -->
<header>
    <h1>Count of Task {{ taskCount }}</h1>
</header>
<!-- HEADER END -->
<!-- MAIN START -->
<main>
    <!-- input start -->
    <section class="input-part">
        <input type="text" [(ngModel)]="taskName" class="input">
        <button (click)="addTask()" class="add-btn" [disabled]="!taskName||editStatus">Add</button>
    </section>
    <!-- input end -->
    <!-- table start -->
    <section class="table-part">
        <app-child (giveTaskCount)="getCount($event)"></app-child>
    </section>
    <!-- table end -->
</main>
<!-- MAIN END -->